In [1]:
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import Flask, jsonify, render_template
import psycopg2

In [2]:
#engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/data_jobs')
engine = create_engine("sqlite:///data_jobs_db.sqlite")

In [3]:
conn = engine.connect()

In [4]:
# reflect an existing database into a new model
Base = automap_base()

In [5]:
# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
Base.classes.keys()

['jobs']

In [7]:
import pandas as pd
df = pd.read_csv('data_cleaning_andy/working_table.csv')

In [8]:
df = df.loc[:,'job_title':]

In [9]:
df.to_sql('jobs',con=engine,if_exists='replace',index=True)

In [10]:
pd.read_sql_table('jobs',con=engine)

,index,job_title,low_end_salary,middle_range_salary,high_end_salary,company_name,job_location,sector,type_of_ownership,size_of_company,rating_of_company,cost_of_living_index,avg_salary_index,salary_col_differential
0,0,Data Scientist,53000,72000,91000,Tecolote Research,"Albuquerque, NM",Aerospace & Defense,Company - Private,501 to 1000 employees,3.8,92.9,70.1,36402.0
1,1,Healthcare Data Scientist,63000,87500,112000,University of Maryland Medical System,"Linthicum, MD",Health Care,Other Organization,10000+ employees,3.4,NaN,85.2,NaN
2,2,Data Scientist,80000,85000,90000,KnowBe4,"Clearwater, FL",Business Services,Company - Private,501 to 1000 employees,4.8,NaN,82.8,NaN
3,3,Data Scientist,56000,76500,97000,PNNL,"Richland, WA","Oil, Gas, Energy & Utilities",Government,1001 to 5000 employees,3.8,NaN,74.5,NaN
4,4,Data Scientist,86000,114500,143000,Affinity Solutions,"New York, NY",Business Services,Company - Private,51 to 200 employees,2.9,128.0,111.6,65566.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,702,"Sr Scientist, Immuno-Oncology - Oncology",58000,84500,111000,GSK,"Cambridge, MA",Biotech & Pharmaceuticals,Company - Public,10000+ employees,3.9,NaN,82.3,NaN
703,703,Senior Data Engineer,72000,102500,133000,Eventbrite,"Nashville, TN",Information Technology,Company - Public,1001 to 5000 employees,4.4,100.1,99.9,64233.0
704,704,"Project Scientist - Auton Lab, Robotics Institute",56000,73500,91000,Software Engineering Institute,"Pittsburgh, PA",Education,College / University,501 to 1000 employees,2.6,93.1,71.6,37865.0
705,705,Data Science Manager,95000,127500,160000,"Numeric, LLC","Allentown, PA",Business Services,Company - Private,1 to 50 employees,3.2,98.9,124.2,89634.0
706,706,Research Scientist – Security and Privacy,61000,93500,126000,Riverside Research Institute,"Beavercreek, OH",Government,Nonprofit Organization,501 to 1000 employees,3.6,NaN,91.1,NaN